.wrapper {
    background: #E68A3E;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    border-spacing: 0px;
    width: 100%;
  }
  
  th {
    text-align: start;
    padding: 5px;
    color: #443635;
  }
  
  td {
    padding: 5px;
    max-width: 700px;
    vertical-align: top;
    color: #443635;
  }
  .number {
    text-align: center;
  }
  
  tbody > tr:nth-child(odd) {
    background: #F9F778;
  }
  
  tbody > tr:nth-child(even) {
    background: #8EC0E8;
  }
  
  h1 {
    color: #443635;
  }